/* Mini Framework */
.links {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4em;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
}

.sec-titles h1 {
  font-size: 3rem;
  color: var(--primary);
  letter-spacing: 1px;
  font-weight: 800;
  line-height: 3rem;
}

.button {
  border: none;
  color: var(--text);
  z-index: 1;
  display: flex;
  background: var(--primary);
  position: relative;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  text-decoration: none;
}

.button:active {
  scale: 0.9;
}

.button::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  bottom: 0;
  left: 0;
  clip-path: polygon(
    0% 74%,
    4% 75%,
    8% 76%,
    11% 77%,
    15% 78%,
    20% 78%,
    25% 77%,
    32% 77%,
    37% 75%,
    40% 74%,
    43% 74%,
    46% 73%,
    52% 72%,
    57% 72%,
    65% 74%,
    66% 75%,
    71% 78%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  background: var(--secondry);
  transition: 0.3s ease;
}

.button::before {
  position: absolute;
  content: "";
  transform: rotate(180deg);
  width: 100%;
  height: 10%;
  transition: 0.3s ease;
  left: 0;
  top: 0;
  z-index: -1;
  clip-path: polygon(
    0% 74%,
    4% 75%,
    8% 76%,
    11% 77%,
    15% 78%,
    20% 78%,
    25% 77%,
    32% 77%,
    37% 75%,
    40% 74%,
    43% 74%,
    46% 73%,
    52% 72%,
    57% 72%,
    65% 74%,
    66% 75%,
    71% 78%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  background: var(--accent);
}

.button:hover::after {
  clip-path: polygon(
    0 30%,
    9% 34%,
    7% 39%,
    11% 43%,
    13% 33%,
    17% 30%,
    24% 34%,
    25% 35%,
    30% 31%,
    30% 38%,
    39% 33%,
    35% 43%,
    43% 45%,
    55% 46%,
    65% 74%,
    67% 66%,
    81% 57%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  height: 70%;
}

.button:hover::before {
  clip-path: polygon(
    0 30%,
    9% 34%,
    7% 39%,
    11% 43%,
    13% 33%,
    17% 30%,
    24% 34%,
    25% 35%,
    30% 31%,
    30% 38%,
    39% 33%,
    35% 43%,
    43% 45%,
    55% 46%,
    65% 74%,
    67% 66%,
    81% 57%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  height: 70%;
}

/* Header */
nav .nav-contianer {
  width: 95%;
}

nav .nav-contianer .logo {
  width: 200px;
  height: 45px;
}

nav .nav-contianer .logo h1 {
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 2rem;
}

nav .nav-contianer .nav-bar ul {
  list-style: none;
  margin: 0;
}

nav .nav-contianer .nav-bar ul li a {
  color: var(--primary);
  transition: 0.3s ease;
}

nav .nav-contianer .nav-bar ul li:hover a {
  color: var(--accent);
}

nav .nav-contianer .nav-bar ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.3s ease;
  background-color: var(--secondry);
  z-index: -1;
  clip-path: polygon(
    0% 74%,
    4% 75%,
    8% 76%,
    11% 77%,
    15% 78%,
    20% 78%,
    25% 77%,
    32% 77%,
    37% 75%,
    40% 74%,
    43% 74%,
    46% 73%,
    52% 72%,
    57% 72%,
    65% 74%,
    66% 75%,
    71% 78%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
}

nav .nav-contianer .nav-bar ul li:hover::after {
  height: 60%;
}
nav .nav-contianer .nav-bar .icons button:nth-child(2) i {
  font-size: 1.3rem;
}

.burger-icon {
  display: none;
}

.burger-icon .icon {
  display: none;
  cursor: pointer;
  color: var(--secondry);
  filter: drop-shadow(1px 2px 2px #000);
}

.burger-icon .icon i {
  font-size: 2rem;
}

.burger-icon .icon.active {
  display: flex;
}

.burger-icon .icon.close {
  color: var(--accent);
}

/* Hero Container */
.hero-container {
  background-color: #000;
}

.hero-container .img {
  filter: blur(2px);
  opacity: 0.8;
}

.hero-container .info {
  transform: translateY(-50%);
  left: 5%;
  top: 50%;
  z-index: 9;
}

.hero-container .info h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondry);
  filter: drop-shadow(1px 1px 3px #000);
}

.hero-container .info h1 {
  font-size: 10rem;
  font-weight: 900;
  line-height: 10rem;
  color: var(--third);
}

.hero-container .offer {
  left: 50%;
  top: 5%;
  animation: offer 1s linear infinite alternate;
}

.hero-container .chilli {
  left: 0;
  top: 5%;
}

.hero-container .chilli-2 {
  right: 0;
  bottom: 5%;
}

.hero-container .chilli-3 {
  left: 30%;
  top: 50%;
  filter: drop-shadow(1px 1px 3px #000);
  transform: rotate(45deg) translateY(-50%);
}

.hero-container .wave {
  left: 0;
  bottom: -0.3%;
  width: 100%;
  z-index: 1;
}

@keyframes offer {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

/* Services Section */
.services-container {
  width: 85%;
}

.services-container .services {
  gap: 6rem;
}

.services-container .services .service .icon {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--accent);
  color: var(--secondry);
}

.services-container .services .service:nth-child(2) .icon,
.services-container .services .service:nth-child(4) .icon {
  background: var(--secondry);
  color: var(--accent);
}

.services-container .services .service .icon i {
  font-size: 3.5rem;
}

.services-container .services .service .text-bx h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

/* Menu Section */
section.menu {
  margin: 7rem 0;
}

.menu-container {
  width: 90%;
}

.menu-container .items .item {
  max-width: 350px;
}

.menu-container .items .item .text-bx h2 {
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--accent);
}

.menu-container .items .item .text-bx p {
  letter-spacing: 0.5px;
}

/* About Section */

.about-container .about-cont .sec-titles h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondry);
}

.about-container .about-cont .text-bx p {
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.about-container .about-cont .features i {
  font-size: 3rem;
  color: var(--accent);
}

.about-container .about-cont .features p {
  font-weight: 700;
  color: var(--primary);
}

/* popular Food Section */
.popular-food-container {
  width: 95%;
}

.popular-food-container .items .item {
  max-width: 350px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.popular-food-container .items .item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  background-color: var(--secondry-bg);
  z-index: -1;
  left: 0;
  bottom: 0;
  opacity: 1;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.popular-food-container .items .item:hover::after {
  height: 100%;
}

.popular-food-container .items .item .img img {
  aspect-ratio: 3/3;
}
.popular-food-container .items .item .title h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
}

.popular-food-container .items .item .title button {
  background: transparent;
  outline: none;
  border: none;
  color: var(--text);
}

.popular-food-container .items .item .title i {
  font-size: 1.5rem;
  filter: drop-shadow(0 0 1px #000);
  transition: 0.3s ease;
}

.popular-food-container .items .item .title i:hover {
  color: var(--accent);
}

.popular-food-container .items .item .text-bx p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  /* filter: drop-shadow(0 0 1px #000); */
}

.popular-food-container .items .item .cart-bx h3 {
  font-weight: 700;
  color: var(--accent);
}

.popular-food-container .items .item .cart-bx .button i {
  font-size: 1.5rem;
}

.popular-food-container .items .item .cart-bx .button {
  border: 1px solid #000;
}

.popular-food-container .bg-burger {
  left: 0;
  top: 0;
  z-index: 1;
}

/* Banner Section */
.banner-container video {
  filter: brightness(0.7);
}

/* download menu */
section.download-menu {
  background: var(--accent);
  color: var(--third);
}

.download-m-container {
  width: 80%;
}

.download-m-container h1 {
  font-weight: 900;
}

.download-m-container a {
  border: 1px solid #000;
}

/* footer */
.footer {
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  width: 100%;
}
.footer p {
  font-size: 0.9em;
  padding-top: 8px;
}
.footer .p2 {
  text-align: right;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
  float: right;
}

/* contact */
.contact {
  padding: 30px 0 10px;
  background: #111111;
  margin-top: 40px;
}
.contact h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.contact h4 {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact p {
  color: #e8e8e8;
  font-size: 14px;
}
.contact h5 {
  font-size: 14px;
  color: #ffffff;
}
.contact .links a {
  display: block;
  color: #e8e8e8;
  text-transform: capitalize;
  font-size: 14px;
  text-decoration: none;
}
.contact .icon {
  background-color: red;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  margin: 10px 5px;
}
.contact .info i {
  color: #ffffff;
  font-size: 16px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  padding-top: 4px;
}
.contact .dayBox p {
  display: inline-block;
  width: 90px;
}
.contact .btn-info {
  background-color: #1d93f4;
  padding: 5px 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: none;
}
/* contact details for mobile */

.mobilecontact {
  background-color: #111111;
  padding: 20px 0;
  display: none;
  padding-top: 40px;
}
.mobilecontact .btn-info {
  background-color: #1d93f4;
  margin-left: 10px;
  font-size: 13px;
  padding: 4px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  border: none;
}
.accordion-item {
  background-color: transparent;
  margin: 0px 0;
  width: 100%;
}
.accordion-link {
  display: flex;
  justify-content: space-between;
  color: white;
  text-decoration: none;
}
.accordion-link:hover {
  color: white;
}
.accordion-link p {
  width: 100%;
}
.accordion-link .ion-remove {
  display: none;
  font-size: 0.7em;
  border: none;
}
.accordion-link .ion-add {
  font-size: 0.7em;
  border: none;
}

.accordion .content {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 650ms;
}
.accordion .content p {
  color: white;
  margin-left: 10px;
  font-size: 0.9em;
}
.accordion .content .icon {
  margin: 5px 5px;
  border: 1px solid rgb(230, 228, 228);
}
.accordion .content .icon:first-child {
  margin-left: 10px;
}
.accordion .content::before {
  content: "";
  position: absolute;
  width: 0.3em;
  height: 90%;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 0;

  transform: translateY(-50%);
}
.accordion-item:target .content {
  max-height: 20em;
}
.accordion-item:target .accordion-link p {
  border-bottom: 1px solid white;
}
.accordion-item:target .accordion-link .ion-add {
  display: none;
}
.accordion-item:target .accordion-link .ion-remove {
  display: block;
}
.mobilecontact h3 {
  text-transform: uppercase;
  color: white;
  font-size: 0.9em;
  margin-left: 10px;
  margin-top: 8px;
}
.mobilecontact h5 {
  font-size: 0.9em;
  color: white;
  margin-left: 10px;
}
.mobilecontact i {
  font-size: 1em;
  color: white;
  margin-left: 10px;
  font-size: 14px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  margin-right: 10px;
}
.mobilecontact p {
  margin: 3px;
}
.mobilecontact .dayBox:first-child {
  margin-top: 6px;
}
#box1 .content p {
  font-size: 0.9em;
}
